*.class
/18 - UI Buscaminas/nbproject/private/
/19 - Registro Usuarios/nbproject/private/
/19 - Registro Usuarios/build/
/Registro Usuarios/nbproject/private/
/Registro Usuarios/build/
/Registro Usuarios/dist/
